<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik UONET+</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <img src="images/logo_vulcan_simple.svg" alt="" class="logo">
    </header>
    <main>
            <button><a href="/login">Zaloguj się</a></button>
    </main>
    <div class="images">
        <img src="images/1-2.jpg" alt="">
        <img src="images/2.jpg" alt="">
        <img src="images/3.jpg" alt="">
        <img src="images/4.jpg" alt="" class="last">
    </div>
    <p class="warning">Ta strona nie jest oficjalna</p>
    <footer>
        <p>VULCAN sp. z o.o., UONET+, wersja 22.07.0016.52438</p>
        <ul>
            <li>Deklaracja dostępności</li>
            <li>Klauzula informacyjna</li>
            <li>Polityka cookie</li>
            <li>Polityka prywatności</li>
        </ul>
    </footer>
</body>
</html>