<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <img src="images/logo_vulcan_simple.svg" alt="" class="logo">
    </header>
    <main>
        <form action="/" method="post">
            <h1>Logowanie</h1>
            <p class="give">Proszę podać e-mail i hasło</p>
            <label for="#email">E-mail:</label>
            <input type="email" name="" id="email" required>
            <label for="#password">Hasło:</label>
            <input type="password" id="password" required>
            <div class="options">
                <a href="#">Załóż konto</a> |
                <a href="#">Przywróć dostęp</a> |
                <a href="#">Zmień hasło</a>
            </div>
            <button>Zaloguj się ></button>
            <div class="hidden-on-mobile">
                <p><i class="fa-solid fa-circle-question"></i> Nie wiesz jak się zalogować? <a href="">Skorzystaj z naszych porad</a> ></p>
            </div>
        </form>
        <div class="contact">
            <a href="#"><i class="far fa-mobile"></i>71 757 29 29</a>
            <a href="#"><i class="fa-solid fa-envelope"></i>cok@vulcan.edu.pl</a>
            <a href="#"><i class="fa-solid fa-desktop"></i>www.vulcan.edu.pl</a>
        </div>
    </main>
    <p class="warning">Ta strona nie jest oficjalna</p>
    <footer>
        <div class="flex left">
            <p>© VULCAN 2012-2022</p>
            <p>Konto VULCAN 21.9.0.9188</p>
            </div>
        <div class="right">
            <a href="">Polityka prywatności cookies</a>
        </div>
    </footer>
</body>
</html>